window {
  font-family: monospace;
  font-size: 14pt;
  color: #cdd6dd; /* text */
  background-color: rgba(12, 12, 12, 0.1);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: none;
  background-color: rgba(30, 30, 46, 0);
  margin: 5px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
  background-color: #c4d3da;
  color: #1e1e2e;
}

#lock {
  background-image: image(url("./config/default/icons/lock.png"));
}
#lock:focus {
  background-image: image(url("./config/default/icons/lock-hover.png"));
}

#logout {
  background-image: image(url("./config/default/icons/logout.png"));
}
#logout:focus {
  background-image: image(url("./config/default/icons/logout-hover.png"));
}

#suspend {
  background-image: image(url("./config/default/icons/sleep.png"));
}
#suspend:focus {
  background-image: image(url("./config/default/icons/sleep-hover.png"));
}

#shutdown {
  background-image: image(url("./config/default/icons/power.png"));
}
#shutdown:focus {
  background-image: image(url("./config/default/icons/power-hover.png"));
}

#reboot {
  background-image: image(url("./config/default/icons/restart.png"));
}
#reboot:focus {
  background-image: image(url("./config/default/icons/restart-hover.png"));
}
#hibernate {
  background-image: image(url("./config/default/icons/hibernate.png"));
}
#hibernate:focus {
  background-image: image(url("./config/default/icons/hibernate-hover.png"));
}
