@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

.modules-left {
    margin-left: 3px;   
}

.modules-right {
    margin-right: 3px;
}

#waybar {
    background-color: transparent;
    color: @background;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces {
    background-color: @background;
    padding: 0 1px 0 0;
}

#battery,
#pulseaudio,
#backlight,
#custom-weather,
#custom-cpu,
#custom-temperature,
#custom-memory,
#custom-notification,
#custom-wlogout,
#tray{
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 8px 0 0px;
    padding: 0 10px 0 10px; /* top, right, bottom, left */
}

#clock {
    color: @color5; /* color3 */
    background-color: @background; /* background */
    margin: 0 8px 0 0;
    padding: 0 10px 0 10px;
}

#pulseaudio {
    color: @color5; /* color5 */
}

#custom-weather, #window, #custom-cava {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    padding: 0 10px 0 10px; /* top, right, bottom, left */
}

#custom-media {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 15px;
    padding: 0 10px 0 10px; /* top, right, bottom, left */
}
